---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import Sidebar from "../components/Sidebar.astro";
import Link from "../components/Link.astro";
import { dateOptions } from "../scripts/dateOptions.ts"

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const pageTitle = "Blog | Haloroundmyhead Knits";
---

<MainLayout pageTitle={pageTitle}>
  <div class="flex flex-col w-full my-7 md:my-10">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 h-full justify-items-center md:gap-3 max-w-(--breakpoint-2xl)">
      <main class="md:col-span-2 lg:col-span-3">
        <h1 class="text-center text-5xl font-bold mb-7">Blog</h1>
        <section class="justify-start w-full">
          <div class="self-start space-y-1 divide-y divide-phthalo-600 dark:divide-phthalo-200/50 border-b border-phthalo-600 dark:border-phthalo-200/50 mx-3 md:mx-6">
            {allPosts
              .map((post: any) => (
                <BlogCard
                  pubDate={post.data.pubDate.toLocaleDateString("en-US", dateOptions)}
                  image={post.data.image}
                  alt={post.data.alt}
                  post={post}
                >
                  <h2 class="text-2xl md:font-3xl font-semibold hover:underline my-0"><Link href={`/blog/${post.id}`}>{post.data.title}</Link></h2>
                </BlogCard>
            ))}
          </div>
          {/* Pagination component will not render if there's only one page */}
          
        </section>
      </main>
      <Sidebar />
    </div>
  </div>
</MainLayout>